# Análise sobre cidades

### Bibliotecas necessárias

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import sqlite3

### Passando a base de dados para Pandas

In [2]:
conn = sqlite3.connect('../db.sqlite3')
cur = conn.cursor()

query = '''
SELECT * 
FROM delphone_empresa
'''

empresa = pd.read_sql(query, con = conn)

empresa = empresa.drop(columns = 'id') 

empresa.head()

,nome,email,celular,endereco,estado,cidade,setor
0,Lewis-Nguyen,nicholas52@example.net,853.992.1420x22902,"70190 Bell Mountain\nLake Jamesview, MI 32752",BA,João Dourado,Material de construção
1,Robinson Group,zoewaters@example.org,(102)587-7879x4686,42850 Mitchell Avenue Apt. 512\nEast Christoph...,PA,Muaná,Música
2,"Mckee, Pierce and Boyd",cheryl98@example.net,+1-897-855-4122x676,"2524 Gonzalez Branch\nAnafurt, NE 27675",CE,Maracanaú,Papelaria
3,Bonilla PLC,marvinschultz@example.org,(697)445-2824,"5109 Freeman Light\nSouth Patriciaborough, MN ...",SP,Guarulhos,Material de construção
4,Gray PLC,ambernelson@example.net,5072159377,"63037 Preston Mountain\nPort Kenneth, NY 07389",BA,Boa Vista do Tupim,Farmácia

In [10]:
conn = sqlite3.connect('../db.sqlite3')
cur = conn.cursor()

query = '''
SELECT * 
FROM delphone_busca
'''

busca = pd.read_sql(query, con = conn)

busca = busca.drop(columns = 'id') 

busca

     estado               cidade                   setor
0        GO      Abadia de Goiás  Material de construção
1        MG  Abadia Dos Dourados  Material de construção
2        GO            Abadiânia        Eletrodomésticos
3        MG               Abaeté                 Cozinha
4        PA           Abaetetuba                 Cozinha
...     ...                  ...                     ...
4995     SP           Serra Azul                Esportes
4996     MG  Serra Azul de Minas                Farmácia
4997     PB         Serra Branca                  Música
4998     PB        Serra da Raiz               Vestuário
4999     MG     Serra da Saudade  Material de construção

[5000 rows x 3 columns]

## Pergunta 1: Qual a cidade tem mais empresas?

In [9]:
empresa.groupby(['cidade']).count()

                    nome  email  celular  endereco  estado  setor
cidade
Acajutiba              1      1        1         1       1      1
Adamantina             1      1        1         1       1      1
Agronômica             1      1        1         1       1      1
Aimorés                1      1        1         1       1      1
Alagoa Nova            1      1        1         1       1      1
...                  ...    ...      ...       ...     ...    ...
Vila Velha             1      1        1         1       1      1
Viradouro              1      1        1         1       1      1
Vista Serrana          1      1        1         1       1      1
Viçosa                 1      1        1         1       1      1
Álvaro de Carvalho     1      1        1         1       1      1

[195 rows x 6 columns]